@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700&display=swap');

:root {

    --color1: #323445;
    --color2: #232533;
    --color3: #404457;
    --color4: #FEC158;
    --color5: #ECEAED;
    --color6: #5E6072;
    --color7: #A367E3;

    --shadow23: -13px 11px 10px rgba(0, 0, 0, 23%);

    --shadow33: -13px 11px 10px rgba(0, 0, 0, 33%);
}

html,
body {

    background-color: var(--color1);
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {

    max-width: 1300px;
    padding-inline: 15px;
    margin: 0 auto;
    position: relative;
}

.s-label {

    color: var(--color7);
    font-size: 12px;
    letter-spacing: 7px;
    margin-bottom: 25px;
    display: block;
}

.default-title {

    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    color: var(--color5);
    margin-bottom: 30px;
    text-shadow: var(--shadow33);
}

.default-text {

    font-size: 18px;
    line-height: 25px;
    color: var(--color6);
    letter-spacing: 0.3px;
    font-weight: 500;
}


.default-btn a,
.default-btn button {

    width: 210px;
    height: 35px;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow33);
    outline: none;
    cursor: pointer;
    transition: all .6s ease;
    border: 2px solid transparent; 
}

.default-btn a:hover,
.default-btn button:hover{

    border-color: #fff;
}


header {
    transition: all 300ms;
    width: 100%;
    padding-inline: 15p;
}

@media(min-width:576px) {

    header {

        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 1300px;
        display: flex;
        justify-content: end;
    }
}

header .navbar {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 15px;
}

@media(min-width:576px) {

    header .navbar {

        width: 43.5%;
    }
}

header .item a {
    
    color: var(--color5);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-shadow: var(--shadow23);
    position: relative;
}

header .item a::after{

    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 0px;
    height: 2px;
    background-color: var(--color7);
    transition: all .6s ease;
    transform-origin: center;
}

header .item:hover a::after{

    width: 100%;
}

.intro-section .container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intro-section .upside {

    width: 100%;
    background-color: var(--color1);
    height: auto;
    padding: 30px 0;
}

@media(min-width:576px) {

    .intro-section .upside {

        padding-top: 90px;
        padding-bottom: 0px;
    }
}

/* beginning of photo part and name  */
.upside .name_photo {

    position: relative;
    width: 100%;
    height: 385px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

@media(min-width:576px) {

    .upside .name_photo {

        width: 40%;
        margin-bottom: 0;
    }
}

.name_photo .name {

    position: absolute;
    z-index: 1;
    padding-top: 200px;
    text-shadow: var(--shadow33);
}

.name_photo .name span:nth-child(1) {

    font-size: 50px;
    color: var(--color5);
    display: block;
}

.name_photo .name span:nth-child(2) {

    font-size: 55px;
    color: var(--color4);
    display: block;
    margin-left: 30px;
    letter-spacing: 7px;
}

.name_photo .photo {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_photo .photo img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 414px;
    filter: drop-shadow(var(--shadow33));
}

.name_photo .socials {
    visibility: visible;
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    padding: 5px 0;
    transition: all 300ms;
}

@media(max-width:1200px){
    .fa-brands{
        display: none;
    }
}

.fa-brands:hover {
    color: lightgreen;
}

#profilePicture{
    filter: brightness(0.5);
}

@media(min-width:576px) {
    .name_photo .socials {
        visibility: visible;
        width: 150px;
        justify-content: space-around;
        background-color: transparent;
        right: -20%;
        bottom: 20px;
    }
}

.name_photo .socials a {

    color: var(--color5);
    font-size: 28px;
    text-shadow: var(--shadow33);
}

.name_photo .socials a:nth-child(2) {

    color: var(--color7);
}

.name_photo .float-icon {

    position: absolute;
    text-shadow: var(--shadow33);
}

.name_photo .fa-code {

    color: var(--color4);
    font-size: 25px;
    top: 20px;
    left: 55px;
}

.name_photo .fa-lightbulb {

    color: var(--color7);
    font-size: 30px;
    top: 50px;
    right: 60px;
}

.name_photo .fa-pen-ruler {

    color: var(--color5);
    font-size: 20px;
    bottom: 70px;
    right: 15px;
}

@media(min-width:576px) {

    .name_photo .fa-pen-ruler {

        right: unset;
        left: 0;
        bottom: 60px;
    }
}
/* end of photo and part of name */

/* START OF THE PRESENTATION SECTION */
.intro-section .upside .about {
    transition: all 300ms;
    position: relative;
    width: 100%;
}

@media(min-width:576px) {

    .intro-section .upside .about {

        width: 45%;
    }
}

.intro-section .about .title {

    font-size: 26px;
    line-height: 34px;
}

/* START OF PRESENTATION SECTION */

.intro-section .bottom {
    transition: all 300ms;
    background-color: #232533;
    padding: 50px 0;
}

.intro-section .bottom .contact {

    margin-bottom: 40px;
}

@media(min-width:576px) {

    .intro-section .bottom .container > div {

        width: 45%;
        margin-bottom: 0;
    }

    .intro-section .bottom .default-title {

        margin-bottom: 20px;
    }
}

.intro-section .contact-skills .skills {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@media(min-width:576px) {

    .intro-section .contact-skills .skills {

        justify-content: start;
    }
}

.contact-skills .skills .skill {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 60px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding-top: 5px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color5);
    box-shadow: -4px 9px 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.skill:hover {
    background-color: var(--color6);
}

/* Skills Background Color */
.contact-skills .skills .skill:nth-child(1) {

    background-color: var(--color1);
}
.contact-skills .skills .skill:nth-child(2) {

    background-color: var(--color1);
}
.contact-skills .skills .skill:nth-child(3) {

    background-color: var(--color1);
}
.contact-skills .skills .skill:nth-child(4) {

    background-color: var(--color1);
}
.contact-skills .skills .skill:nth-child(5) {

    background-color: var(--color1);
}
.contact-skills .skills .skill:nth-child(6) {

    background-color: var(--color1);
}
.contact-skills .skills .skill:nth-child(7) {

    background-color: var(--color1);
}
.contact-skills .skills .skill:nth-child(8) {

    background-color: var(--color1);
}
.contact-skills .skills .skill:nth-child(9) {

    background-color: var(--color1);
}
.contact-skills .skills .skill:nth-child(10) {

    background-color: var(--color1);
}

.intro-section .bottom .default-btn{

    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

@media(min-width:576px) {

    .intro-section .bottom .default-btn{

        justify-content: start;
    }
}

.contact .default-btn a {

    background-color: var(--color7);
    color: var(--color5);
}

.contact-skills .default-btn a {

    background-color: var(--color4);
    color: #fff;
}

/* END OF PRESENTATION SECTION */

.practice-section {

    width: 100vw;
}

.practice-section .top-side {

    background-color: var(--color2);
    width: 100%;
    height: 80px;
}

.practice-section .bottom-side {

    background-color: var(--color1);
    width: 100%;
    height: auto;
}

@media(min-width:992px) {

    .practice-section .bottom-side {

        height: 80px;
    }
}

/* START OF PORTFOLIO SECTION */
.portfolio-section {

    width: 100vw;
    padding-bottom: 50px;
}

@media(max-width:992px) {
    .portfolio-section{
        margin-top: 50px;
    }
}
.portfolio-section .container{

    overflow: hidden;
}

.portfolio-section .content {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-section .text {

    width: 100%;
    margin-bottom: 40px;
}

@media(min-width:576px) {
    
    .portfolio-section .text {

        width: 35%;
    }
}

.portfolio-section .project {

    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    box-shadow: var(--shadow33);
}

@media(min-width:576px) {

    .portfolio-section .project {

        width: 48%;
    }
}

/* START OF JAVASCRIPT PART */

.portfolio-section .backdrop{

    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color3);
    z-index: 2;
    box-shadow: var(--shadow33);
    transition: all .8s ease;
    overflow: hidden;
    transform: translateX(-100%);
}

.portfolio-section .backdrop-open{

    transform: translateX(0);
}

.portfolio-section .backdrop .content{

    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    transition: all .0s ease;
}

.portfolio-section .backdrop .content-showing{

    opacity: 1;
    transition: all .5s ease;
}

.portfolio-section .backdrop .infos{

    width: 100%;
    margin: 40px 15px 0 15px;
}
@media(min-width:992px){

    .portfolio-section .backdrop .infos{

        width: 40%;
    }
}
@media(min-width:1100px){

    .portfolio-section .backdrop .infos{

        margin: 70px 70px 0 70px;
    }
}

.portfolio-section .backdrop .infos .title{

    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: var(--color5);
}

.portfolio-section .backdrop .infos .label{

    color: var(--color4);
    font-size: 20px;
    font-weight: 500;
    display: block;
}

.portfolio-section .backdrop .infos .description{

    margin-top: 35px;
    color: var(--color5);
    font-size: 20px;
    line-height: 24px;
    font-weight: 500px;
}

.portfolio-section .backdrop .img{

    width: 100%;
    height: 20%;
}
@media(min-width:576px){

    .portfolio-section .backdrop .img{

        display: none;
    }
}
@media(min-width:992px){

    .portfolio-section .backdrop .img{

        width: 49%;
        height: 62%;
        display: block;
    }
}

.portfolio-section .backdrop .img img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-section .backdrop .footer{

    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
}

.portfolio-section .backdrop .footer .techs{

    width: 100%;
}
@media(min-width:992px) {

    .portfolio-section .backdrop .footer .techs{

        width: 60%;
    }
}

.portfolio-section .backdrop .footer .techs .title{

    font-size: 30px;
    font-weight: 600;
    color: var(--color4);
    display: block;
    margin-bottom: 20px;
}

.portfolio-section .backdrop .footer .cards{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
@media(min-width:992px){

    .portfolio-section .backdrop .footer .cards{

        margin-bottom: 0;
    }
}

.portfolio-section .backdrop .footer .cards a{

    background-color: var(--color2);
    width: 80px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 15px;
    color: var(--color7);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: var(--shadow23);
}
@media(min-width:992px){

    .portfolio-section .backdrop .footer .cards a{

        width: 105px;
        margin-right: 20px;
        font-size: 20px;
    }
}

.portfolio-section .backdrop .buttons{

    width: 100%;
    margin-bottom: 3%;
}
@media(min-width:992px) {

    .portfolio-section .backdrop .buttons{

        width: 40%;
    }
}

.portfolio-section .backdrop .default-btn{

    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.portfolio-section .backdrop .default-btn .close{

    background-color: var(--color5);
    color: var(--color3);
    margin-right: 30px;
    letter-spacing: 0;
}

.portfolio-section .backdrop .default-btn .go-to-project{

    background-color: var(--color7);
    color: #fff;
    letter-spacing: 0;
}

/* END OF JAVASCRIPT PART */

.portfolio-section .project-card {

    width: 100%;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.portfolio-section .bg-img {

    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-section .overlay {

    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.portfolio-section .action {

    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
}

.portfolio-section .action span {

    font-size: 22px;
    font-weight: 600;
}

.portfolio-section .action .default-btn {

    margin-top: 15px;
}

.portfolio-section .action button {

    cursor: pointer;
    background-color: var(--color4);
    color: #fff;
    font-weight: 700;
}

.portfolio-section .action i {

    margin-right: 10px;
}


/* Education & Experience Section */

.experience-education-section {

    background-color: var(--color2);
    padding: 70px 0;
}

.experience-education-section .container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.experience-education-section .box {

    width: 100%;
}

@media(min-width:1100px) {

    .experience-education-section .box {

        width: 48%;
    }
}

.experience-education-section .experience {

    text-align: end;
    margin-top: 60px;
}

@media(min-width:1100px) {

    .experience-education-section .experience {

        margin-top: 0;
    }
}

.experience-education-section .box .default-title span {

    display: block;
}

.experience-education-section .swiper {

    margin-top: 90px;
    height: 300px;
}

@media(min-width:1100px) {

    .experience-education-section .swiper {

        height: 420px;
    }
}

@media((min-width:420px) and (max-width:1100px)) {

    .experience-education-section .swiper .swiper-slide {

        width: fit-content;
    }
}

@media(min-width:1100px) {
    
    .experience-education-section .dot {

        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--color6);
        top: 18%;
    }

    .experience-education-section .education .dot {

        left: 1px;
    }

    .experience-education-section .experience .dot {

        right: 1px;
    }
}

.experience-education-section .card {

    background-color: rgba(0, 0, 0, 0.49);
    width: fit-content;
    min-width: 250px;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: var(--shadow33);
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.experience-education-section .card>div {

    margin-bottom: 30px;
}

@media(min-width:1100px) {

    .experience-education-section .card {

        flex-direction: row;
        min-width: unset;
    }

    .experience-education-section .card>div {

        margin-bottom: 0;
    }
}

@media(min-width:1100px) {

    .experience-education-section .education .card {

        margin-left: 40px;
    }

    .experience-education-section .experience .card {

        margin-left: auto;
        margin-right: 40px;
    }

}


.experience-education-section .card .icon i {

    color: var(--color4);
    font-size: 25px;
    margin-right: 20px;
}

.experience-education-section .card .course {

    font-size: 20px;
    color: var(--color5);
    font-weight: 600;
    margin-bottom: 5px;
}

.experience-education-section .card .locale {

    font-size: 16px;
    color: var(--color7);
    line-height: 20px;
    display: block;
}

.experience-education-section .card .date {

    margin-left: 20px;
    color: var(--color5);
    font-size: 16px;
    line-height: 22px;
}

.experience-education-section .card .date i {

    margin-right: 10px;
    color: var(--color4);
}

.experience-education-section .swiper-button-next,
.experience-education-section .swiper-button-prev {

    transform: scale(0.7);
    top: 88%;
    color: var(--color7);
}

@media(min-width:1100px) {

    .experience-education-section .swiper-button-next,
    .experience-education-section .swiper-button-prev {

        transform: scale(1);
        top: unset;
        opacity: 0.5;
    }

    .experience-education-section .swiper-button-next {

        top: unset;
        bottom: -10px;
        left: 36%;
        transform: rotate(90deg);
    }

    .experience-education-section .experience .swiper .swiper-button-next {

        left: unset;
        right: 36%;
    }

    .experience-education-section .swiper .swiper-button-prev {

        display: none;
    }
}

@media(min-width:1100px) {

    .experience-education-section .vertical-carousel {

        position: relative;
    }

    .experience-education-section .education .vertical-carousel::before {

        content: '';
        position: absolute;
        width: 8px;
        height: 105%;
        background-color: var(--color7);
        left: 10px;
        top: -8%;
        box-shadow: var(--shadow23);
    }

    .experience-education-section .experience .vertical-carousel::after {

        content: '';
        position: absolute;
        width: 8px;
        height: 104%;
        background-color: var(--color7);
        right: 10px;
        top: -8%;
        box-shadow: var(--shadow23);
    }
}

/* Footer Section */

footer{

    width: 100vw;
    padding: 70px 0 40px 0;
}

footer .container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .container > div{

    width: 100%;
}
@media(min-width:576px){

    footer .container .contact-me, footer .container .socials{

        width: 50%;
    }
}

footer .contact-me .default-btn{

    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
@media(min-width:576px) {

    footer .contact-me .default-btn {

        justify-content: start;
    }
}

footer .contact-me .default-btn a{

    background-color: var(--color4);
    font-weight: 700;
    color: #fff;
}

footer .socials{

    display: flex;
    justify-content: center;
    margin-top: 60px;
}
@media(min-width:576px) {

    footer .socials {

        justify-content: end;
        margin-top: 0;
    }
}

footer .socials .box a{

    color: #fff;
    font-size: 25px;
    padding-inline: 15px;
    transition: all .6s ease;
}
footer .socials .box a:hover{

    color: var(--color7);
}

footer .socials .box a i{

    box-shadow: var(--shadow23);
}

footer .copy{

    text-align: center;
    margin-top: 70px;
}

footer .copy span{

    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}