@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

.font-rubik {
  font-family: "Rubik", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
}

.font-abel{
  font-family: "Abel", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
}

#name-title{
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}
#greet-1{
  animation: 1.5s ease-out 0s 1 slideInFromRight;
}
#greet-2{
  animation: 1.5s ease-out 0s 1 slideInFromRight;
}
#profile-pic{
  animation: 1.5s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(0);
  }
}