@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
}

.font-abel{
  font-family: "Abel", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
}

#name-title{
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}
#greet-1, #greet-2{
  animation: 1.5s ease-out 0s 1 slideInFromRight;
}
#profile-pic{
  animation: 1.5s ease-out 0s 1 slideInFromBottom;
}
#intro-desc{
  animation: 1.5s ease-out 0s 1 slideInFromBottom;
  font-size: 1.25rem;
}
#skillpros, #port-desc, #initiator{
  font-size: 1.25rem;
}

@media only screen and (max-width: 600px) {
  #intro-desc, #skillpros, #port-desc{
    font-size: 1.1rem;
  }
  #initiator{
    font-size: 1.2rem;
  }
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(0);
  }
}

@keyframes fillfromLeft {
  0% {
    transform: scaleX(0%);
  }
  50% {
    transform: translateX(100%);
  }
}

/* PROGRESS BAR HTML */
#progress-bar-1{
  width: 85%;
}

/* PROGRESS BAR CSS */
#progress-bar-2{
  width: 85%;
}

/* PROGRESS BAR JAVASCRIPT */
#progress-bar-3{
  width: 70%;
}

/* PROGRESS BAR PYTHON */
#progress-bar-4{
  width: 70%;
}

/* PROGRESS BAR REACT */
#progress-bar-5{
  width: 50%;
}

/* PROGRESS BAR NODE */
#progress-bar-6{
  width: 45%;
}

/* PROGRESS BAR DJANGO */
#progress-bar-7{
  width: 70%;
}

/* PROGRESS BAR TAILWIND */
#progress-bar-8{
  width: 60%;
}

/* PROGRESS BAR BOOTSTRAP */
#progress-bar-9{
  width: 70%;
}

/* PROGRESS BAR MONGO */
#progress-bar-10{
  width: 35%;
}

/* PROGRESS BAR FIGMA */
#progress-bar-11{
  width: 50%;
}

/* PROGRESS BAR PHP */
#progress-bar-12{
  width: 50%;
}

/* PROGRESS BAR LARAVEL */
#progress-bar-13{
  width: 50%;
}

/* PROGRESS BAR SQL */
#progress-bar-14{
  width: 60%;
}


.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  text-align: center;
  padding: 6px;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  width: 180px;
  bottom: 270%;
  left: 30%;
  margin-left: -60px;

  box-shadow: 4px 3px 5px gray;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip:hover{
  cursor: pointer;
}

.tooltip:active{
  visibility: visible;
}